.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
}


@media (max-width: 750px) { 
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 751px) and (max-width: 999px) { 
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1000px) { 
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .video-title {
    font-size: 16px;
    line-height: 24px;
  }
}



.thumbnail {
  width: 100%;
}
/* .video-preview {
  margin-right: 15px;
} */
.video-info-grid {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 5px;
}
.profile-picture {
  border-radius: 30px;
  width: 36px;
}
.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}
.video-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 15px;
  /* margin-bottom: 10px; */
}
.video-creator {
  margin-top: 10px;
  color: rgb(96, 96, 96);
  font-size: 11px;
}
.video-stat {
  margin-top: 2px;
  color: rgb(96, 96, 96);
  font-size: 11px;
}
.video-time {

  /* backgroud color was raw black. I added the opacity */
  background-color:rgba(0, 0, 0, 0.594);
  color: white;
  padding: 4px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  bottom: 8px;
  right: 5px;
}